@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.container {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid red;
	padding: 10px;
	color: red; 
}
p {
	text-align: left;
	color: #666;
}